/*Main*/
html, body {
   background-color: #f4f7f8;
   margin: left;
   padding: 0;


 }
/* Table */
table{
  height: 40%;
  left: 10%;
  margin: 2% auto;
  overflow-y: scroll;
  position: static;
  width: 70%;
  font-size: 15px;
  border-color: black;
  background: #88CCF1;
}
h1{
  text-align: center;
  color: #14213D;
  font-size: 125%;
  margin-bottom: auto 10%;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
  width: 30%;
}

td {
  font-family: 'Lato', sans-serif;
  padding: 20px;
  text-align: center;;
  width: 30%;
  color: black;
  transform: rotate(-15deg);

}
.inputDisplay{
  display: inline-flex;
  margin: 0 15%;
  width: 70%;
}
/*Text Area*/
input{
margin: 0 auto;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
width:22%;
padding: 12px 15px 12px 35px;
}
/*button*/
button {
  width:150%;
  margin-right: 25%;
  cursor: pointer;
  background-color: #14213D;
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  padding: 7px;
  border-radius: 8.5px;
}
.paintDay{
  background-color: green;

}
.paintDayRed{
  background-color: red;
}
.paintDayBlue{
  background-color: blue;
}
